HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### MySQL & Docker ###
mysql_data/
*.db
.env

### OS specific ###
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

### Log files ###
*.log
logs/

### Temp files ###
tmp/
temp/
/spec/

### Redis ###

*.rdb

/deploy.sh

### Firebase & Security
service-account.json
**/service-account.json
/src/main/resources/firebase/
